.icon {
	width: 1;
	height: 1;

	i, svg {
		font-size: 1 - .75;
	}
}

.icon + .icon-text {
	padding-left: 1rem;
	width: calc(100% - 1 - 1);
}

.icon-xl {
	width: 1-xl;
	height: 1-xl;

	i, svg {
		font-size: 1-xl - .75;
	}
}

.icon-xl + .icon-text {
	width: calc(100% - 1);
}

.icon-lg {
	width: 1-lg;
	height: 1-lg;

	i, svg {
		font-size: 1-lg - .75;
	}
}

.icon-lg + .icon-text {
	width: calc(100% - 1);
}

.icon-sm {
	width: 1;
	height: 1;

	i, svg {
		font-size: 1 - .75;
	}
}

.icon-sm + .icon-text {
	width: calc(100% - 1 - 1);
}


// Icons included in shapes
.icon-shape {
	padding: 12px;
	text-align: center;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;


	i, svg {
		font-size: 1.25rem;
	}

	&.icon-lg {
		i, svg {
			font-size: 1.625rem;
		}
	}

	&.icon-sm {
		i, svg {
			font-size: .875rem;
		}
	}

	svg {
		width: 30px;
		height: 30px;
	}

}

@each $color, $value in $theme-colors {
	.icon-shape-#{$color} {
		@include icon-shape-variant(theme-color($color));
	}
}
